<launch>
  <node
    pkg="uav_percept"
    type="img_capture"
    name="img_capture"
    output="screen"
  />
  <node
    pkg="uav_percept"
    type="main"
    name="main"
    output="screen"
  />
  <!-- <node
    pkg="uav_percept"
    type="img_proc"
    name="img_proc"
    output="screen"
  /> -->
</launch> 